<div class="stats">
    <div class="stats-nav flex horizontal-align-start">
        <p class="character-level">Lvl: {{allocatedPoints + CHARACTER_OFFSET}}</p>
        <p class="heading" id="statsToggle" (click)="toggleStats()">Stats</p>
        <p class="heading non-active" id="configToggle" (click)="toggleConfig()">Config</p>
    </div>
    <ngx-simplebar class="info" id="stats-container">
        <div class="info-section flex wrapped horizontal-align-center">
            <div class="info-section-header"><p>Equipped Skills</p></div>
            <div *ngFor="let skill of _maxActionSkills" class="equipped-skill" [style.width]="100/_maxActionSkills.length + '%'">
                
                    <div
                         [class.blue]="equippedSkills[skill].actionSkill != null ? equippedSkills[skill].actionSkill.getColor() == 'blue' : ''" 
                         [class.green]="equippedSkills[skill].actionSkill != null ? equippedSkills[skill].actionSkill.getColor() == 'green' : ''" 
                         [class.red]="equippedSkills[skill].actionSkill != null ? equippedSkills[skill].actionSkill.getColor() == 'red' : ''" 
                         [ngStyle]="{background: 'url(assets/images/skilltree/actionSkillBox.webp)', 
                                    'background-size': 'contain', 
                                    'background-repeat': 'no-repeat',
                                    'background-position': 'center',
                                    'min-width' :_maxActionSkills.length < 2 ? 
                                    MATH.floor(100/(_maxActionSkills.length + _maxActionMods.length + _maxOtherSkills.length)) + '%':
                                               '100%'}">
                        <img (mouseenter)="showToolTip(equippedSkills[skill].actionSkill, $event)"
                             (mouseleave)="showToolTip(null, null)"
                             *ngIf="equippedSkills[skill].actionSkill != null "
                             [class.blue]="equippedSkills[skill].actionSkill != null ? equippedSkills[skill].actionSkill.getColor() == 'blue' : ''" 
                             [class.green]="equippedSkills[skill].actionSkill != null ? equippedSkills[skill].actionSkill.getColor() == 'green' : ''" 
                             [class.red]="equippedSkills[skill].actionSkill != null ? equippedSkills[skill].actionSkill.getColor() == 'red' : ''"  
                             class="skill-image" attr.src="{{equippedSkills[skill].actionSkill != null ? equippedSkills[skill].actionSkill.getPath() : ''}}" alt="Skill Image"/>
                    </div>

                    <div [class.blue]="equippedSkills[skill].actionMods[mod] != null ? equippedSkills[skill].actionMods[mod].getColor() == 'blue' : ''" 
                         [class.green]="equippedSkills[skill].actionMods[mod] != null  ? equippedSkills[skill].actionMods[mod].getColor() == 'green' : ''" 
                         [class.red]="equippedSkills[skill].actionMods[mod] != null ? equippedSkills[skill].actionMods[mod].getColor() == 'red' : ''"  
                         *ngFor="let mod of _maxActionMods" 
                         [ngStyle]="{background: 'url(assets/images/skilltree/actionSkillModBox.webp)', 
                                    'background-size': 'contain', 
                                    'background-repeat': 'no-repeat',
                                    'background-position': 'center',
                                    'min-width' : _maxActionSkills.length < 2 ? 
                                    MATH.floor(100/(_maxActionSkills.length + _maxActionMods.length + _maxOtherSkills.length)) + '%':
                                    '100%'}">
                        <img (mouseenter)="showToolTip(equippedSkills[skill].actionMods[mod], $event)"
                             (mouseleave)="showToolTip(null, null)"
                             *ngIf="equippedSkills[skill].actionMods[mod] != null"
                             [class.blue]="equippedSkills[skill].actionMods[mod] != null ? equippedSkills[skill].actionMods[mod].getColor() == 'blue' : ''" 
                             [class.green]="equippedSkills[skill].actionMods[mod] != null ? equippedSkills[skill].actionMods[mod].getColor() == 'green' : ''" 
                             [class.red]="equippedSkills[skill].actionMods[mod] != null ? equippedSkills[skill].actionMods[mod].getColor() == 'red' : ''" 
                             class="skill-image" 
                             attr.src="{{equippedSkills[skill].actionMods[mod].getPath()}}" alt="Skill Image"/>
                    </div>

                    <div [class.blue]="equippedSkills[skill].otherSkill != null ? equippedSkills[skill].otherSkill.getColor() == 'blue' : ''" 
                         [class.green]="equippedSkills[skill].otherSkill != null ? equippedSkills[skill].otherSkill.getColor() == 'green' : ''" 
                         [class.red]="equippedSkills[skill].otherSkill != null ? equippedSkills[skill].otherSkill.getColor() == 'red' : ''"  
                         *ngIf="_maxOtherSkills.length > 0" [ngStyle]="{background: 'url(assets/images/skilltree/otherSkillBox.webp)', 
                                    'background-size': 'contain', 
                                    'background-repeat': 'no-repeat',
                                    'background-position': 'center',
                                    'min-width' : _maxActionSkills.length < 2 ? 
                                    MATH.floor(100/(_maxActionSkills.length + _maxActionMods.length + _maxOtherSkills.length)) + '%':
                                    '100%'}">
                        <img (mouseenter)="showToolTip(equippedSkills[skill].otherSkill, $event)"
                             (mouseleave)="showToolTip(null, null)"
                             *ngIf="equippedSkills[skill].otherSkill != null"
                             [class.blue]="equippedSkills[skill].otherSkill != null ? equippedSkills[skill].otherSkill.getColor() == 'blue' : ''" 
                             [class.green]="equippedSkills[skill].otherSkill != null ? equippedSkills[skill].otherSkill.getColor() == 'green' : ''" 
                             [class.red]="equippedSkills[skill].otherSkill != null ? equippedSkills[skill].otherSkill.getColor() == 'red' : ''" 
                             class="skill-image"
                             attr.src="{{(equippedSkills[skill].otherSkill != null) ?
                                        equippedSkills[skill].otherSkill.getPath() : ''}}"  alt="Skill Image"/>
                    </div>
                    
            </div>
        </div>
        <div class="info-section flex wrapped horizontal-align-center">
            <div class="info-section-header"><p>Offensive Stats</p></div>
            <table class="stats-table">
                <tr>
                    <th>
                        Stat
                    </th>
                    <th class="value">
                        Value
                    </th>
                </tr>
                <tr *ngIf="offensiveStats.accuracy != 0">
                    <td>
                        Accuracy
                    </td>
                    <td class="value">    
                        {{offensiveStats.accuracy}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.actionSkillDmg != 0">
                    <td>
                        Action Skill Damage
                    </td>
                    <td class="value">    
                        {{offensiveStats.actionSkillDmg}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.bonusDmg != 0">
                    <td>
                        Bonus Damage
                    </td>
                    <td class="value">    
                        {{offensiveStats.bonusDmg}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.bonusElementalDmg != 0">
                    <td>
                        Bonus Elemental Damage
                    </td>
                    <td class="value">    
                        {{offensiveStats.bonusElementalDmg}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.criticalHitDmg != 0">
                    <td>
                        Critical Hit Damage
                    </td>
                    <td class="value">    
                        {{offensiveStats.criticalHitDmg}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.elementalDmg != 0">
                    <td>
                        Elemental Damage
                    </td>
                    <td class="value">    
                        {{offensiveStats.elementalDmg}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.fireRate != 0">
                    <td>
                        Fire Rate
                    </td>
                    <td class="value">    
                        {{offensiveStats.fireRate}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.gunDmg != 0">
                    <td>
                        Gun Damage
                    </td>
                    <td class="value">    
                        {{offensiveStats.gunDmg}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.handling != 0">
                    <td>
                        Handling
                    </td>
                    <td class="value">    
                        {{offensiveStats.handling}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.dmgIncrease != 0">
                    <td>
                        Increased Damage
                    </td>
                    <td class="value">    
                        {{offensiveStats.dmgIncrease}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.meleeDmg != 0">
                    <td>
                        Melee Damage
                    </td>
                    <td class="value">    
                        {{offensiveStats.meleeDmg}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.shockDmg != 0">
                    <td>
                        Shock Damage
                    </td>
                    <td class="value">    
                        {{offensiveStats.shockDmg}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.splashDmg != 0">
                    <td>
                        Splash Damage
                    </td>
                    <td class="value">    
                        {{offensiveStats.splashDmg}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.statusEffectDmg != 0">
                    <td>
                        Status Effect Damage
                    </td>
                    <td class="value">    
                        {{offensiveStats.statusEffectDmg}}%
                    </td>
                </tr>
                <tr *ngIf="offensiveStats.statusEffectDuration != 0">
                    <td>
                        Status Effect Duration
                    </td>
                    <td class="value">    
                        {{offensiveStats.statusEffectDuration}}%
                    </td>
                </tr>
            </table>
        </div>

        <div class="info-section flex wrapped horizontal-align-center">
            <div class="info-section-header"><p>Defensive Stats</p></div>
            <table class="stats-table">
                <tr>
                    <th>
                        Stat
                    </th>
                    <th class="value">
                        Value
                    </th>
                </tr>
                <tr *ngIf="defensiveStats.dmgReduction != 0">
                    <td>
                        Damage Reduction
                    </td>
                    <td class="value">    
                        {{defensiveStats.dmgReduction}}%
                    </td>
                </tr>
                <tr *ngIf="defensiveStats.elementalDmgReduction != 0">
                    <td>
                        Elemental Damage Reduction
                    </td>
                    <td class="value">    
                        {{defensiveStats.elementalDmgReduction}}%
                    </td>
                </tr>
                <tr *ngIf="defensiveStats.healthRegen != 0">
                    <td>
                        Health Regen
                    </td>
                    <td class="value">    
                        {{defensiveStats.healthRegen}}%
                    </td>
                </tr>
                <tr *ngIf="defensiveStats.lifeSteal != 0">
                    <td>
                        Life Steal
                    </td>
                    <td class="value">    
                        {{defensiveStats.lifeSteal}}%
                    </td>
                </tr>
                <tr *ngIf="defensiveStats.maxHealth != 0">
                    <td>
                        Max Health
                    </td>
                    <td class="value">    
                        {{defensiveStats.maxHealth}}%
                    </td>
                </tr>
                <tr *ngIf="defensiveStats.shieldRegenDelay != 0">
                    <td>
                        Shield Regen Delay
                    </td>
                    <td class="value">    
                        {{defensiveStats.shieldRegenDelay}}%
                    </td>
                </tr>
                <tr *ngIf="defensiveStats.splashDmgReduction != 0">
                    <td>
                        Splash Damage Reduction
                    </td>
                    <td class="value">    
                        {{defensiveStats.splashDmgReduction}}%
                    </td>
                </tr>
            </table>
        </div>

        <div class="info-section flex wrapped horizontal-align-center">
            <div class="info-section-header"><p>Utility Stats</p></div>
            <table class="stats-table">
                <tr>
                    <th>
                        Stat
                    </th>
                    <th class="value">
                        Value
                    </th>
                </tr>
                <tr *ngIf="utilityStats.chargeTime != 0">
                    <td>
                        Charge Time
                    </td>
                    <td class="value">    
                        {{utilityStats.chargeTime}}%
                    </td>
                </tr>
                <tr *ngIf="utilityStats.handling != 0">
                    <td>
                        Handling
                    </td>
                    <td class="value">    
                        {{utilityStats.handling}}%
                    </td>
                </tr>
                <tr *ngIf="utilityStats.modeSwitchSpeed != 0">
                    <td>
                        Mode Switch Speed
                    </td>
                    <td class="value">    
                        {{utilityStats.modeSwitchSpeed}}%
                    </td>
                </tr>
                <tr *ngIf="utilityStats.movementSpeed != 0">
                    <td>
                        Movement Speed
                    </td>
                    <td class="value">    
                        {{utilityStats.movementSpeed}}%
                    </td>
                </tr>
                <tr *ngIf="utilityStats.reloadSpeed != 0">
                    <td>
                        Reload Speed
                    </td>
                    <td class="value">    
                        {{utilityStats.reloadSpeed}}%
                    </td>
                </tr>
                <tr *ngIf="utilityStats.statusEffectChance != 0">
                    <td>
                        Status Effect Chance
                    </td>
                    <td class="value">    
                        {{utilityStats.statusEffectChance}}%
                    </td>
                </tr>
                <tr *ngIf="utilityStats.weaponSwapSpeed != 0">
                    <td>
                        Weapon Swap Speed
                    </td>
                    <td class="value">    
                        {{utilityStats.weaponSwapSpeed}}%
                    </td>
                </tr>
            </table>
        </div>
    </ngx-simplebar>
    <ngx-simplebar class="info" id="configs">
        <div class="info-section doNotSelect">
            <div class="info-section-header"><p>Configurations</p></div>
            <div *ngFor="let conditional of conditionals" class="config">
                <label><p class="input-header">{{conditional[0].header}}</p>
                    <input class="check-input" 
                           type="checkbox" 
                           (change)="conditional[0].active = !conditional[0].active" 
                           [checked]="conditional[0].active">
                    <input  *ngIf="conditional[0].requiresNumberField" 
                            [disabled]="!conditional[0].active"
                            class="num-input" 
                            type="text" 
                            (input)="validateInput($event)" 
                            (change)="valueChange(conditional[0], $event)" 
                            attr.max="{{conditional[0].maxValue}}"
                            placeholder="Amount"/>
                    <span class="checkbox"></span>
                </label>
            </div>
        </div>
    </ngx-simplebar>
</div>
