@import "../../styles.scss";


.stats {
    position: relative;
    width: 30vw;
    height: 85vh;
    background: $primary-color;
    border: 1px solid $secondary-color;
    border-radius: 1vh;

    .statsNav {
        position: relative;
        @include borderlands-text;
        display: flex;
        justify-content: flex-start;
        height: 60px;
        background-color: $primary-accent-color;
        border-radius: 1vh 1vh 0 0;

        .heading {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            text-align: center;
            line-height: 60px;
            font-size: 50px;
        }

        .characterLevel {
            font-size: 35px;
            line-height: 60px;
            padding-left: 40px;
        }
    }

    .info {
        width: 90%;
        margin: auto;
        height: calc(100% - 85px);
        color: white;
        font-family: sans-serif;

        .infoSection {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: auto;
            width: 100%;
            margin: auto;
            margin-top: 25px;
            background-color: $primary-color-accent-light;
            border-radius: 0.5vh;
    
            .infoSectionHeader {
                height: 25px;
                width: 100%;
                font-weight: bold;
                background-color: $primary-accent-color;
                border-radius: 0.5vh 0.5vh 0 0;

                p {
                    margin-left: 2%;
                    margin-bottom: 0;
                }
            }

            .skill {
                margin-top: 20px;
                margin-bottom: 20px;
                max-height: calc(100% - 25px);

                div {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 8vh;
                    img {
                        height: 65%;
                    }
                }

                

                .red {
                    filter: url(#activatedRed);
                }

                .green {
                    filter: url(#activatedGreen);
                }

                .blue {
                    filter: url(#activatedBlue);
                }
            }
        }
    }
}

@media not screen and (min-width: 130vh) {

    .stats {
        max-height: 100%;
        width: 50vw;
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

@media not screen and (min-width: 768px) { 

    .stats {
        width: 90vw;
        .statsNav {

            .heading {
                font-size: 10vw;
            }
    
            .characterLevel {
                font-size: 7vw;
            }

        }
    }
    
}