@import "../../styles.scss";

.stats {
    position: relative;
    width: 30vw;
    height: 85vh;
    background: $primary-color;
    border: 1px solid $secondary-color;
    border-radius: 1vh;

    .stats-nav {
        position: relative;
        @include borderlands-text;
        height: 60px;
        background-color: $primary-accent-color;
        border-radius: 1vh 1vh 0 0;

        .heading {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            text-align: center;
            line-height: 60px;
            font-size: 50px;
            pointer-events: none;
        }

        .non-active {
            font-size: 35px;
            left: 90%;
            transform: translate(-90%, 0);
            cursor: pointer;
            pointer-events: all;
        }

        .non-active:hover {
            color: darken($color: $text-color, $amount: 20%);
        }

        .character-level {
            font-size: 35px;
            line-height: 60px;
            padding-left: 40px;
        }
    }

    .info {
        position: relative;
        width: 100%;
        margin: auto;
        height: calc(100% - 85px);
        color: white;
        font-family: 'Teko';
        font-size: 20px;

        .info-section {
            height: auto;
            width: 90%;
            margin: auto;
            margin-top: 25px;
            background-color: $primary-color-accent-light;
            border-radius: 0.5vh;
    
            .info-section-header {
                height: 25px;
                width: 100%;
                background-color: $primary-accent-color;
                border-radius: 0.5vh 0.5vh 0 0;

                p {
                    margin-left: 2%;
                    margin-bottom: 0;
                }
            }

            .equipped-skill{
                margin-top: 20px;
                margin-bottom: 20px;
                max-height: calc(100% - 25px);

                div {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 8vh;
                    .skill-image {
                        position: absolute;
                        display: inline-block;
                        height: 5vh;
                    }

                    .skill-image:hover {
                        cursor: pointer;
                    }

                }

                .red {
                    filter: url(#activated-red);
                }

                .green {
                    filter: url(#activated-green);
                }

                .blue {
                    filter: url(#activated-blue);
                }
            }

            .stats-table {
                margin-top: 14px;
                margin-bottom: 14px;
                font-size: 14px;
                font-family: Verdana;
                width: 95%;
                border-spacing: 7px;

                .value {
                    width: 25%;
                    text-align: center;
                }
            }
        }
    }

    #configs {
        color: white;
        width: 95%;
        margin: auto;
        margin-top: 25px;
        display: none;

        .config {
            display: block;
            margin-left: 50px;
            margin-top: 14px;
            padding-bottom: 14px;
            font-size: 14px;
            font-family: Verdana;
            width: fit-content;
            line-height: 28px;
            
            .input-header {
                display: inline-block;
                padding: 0;
                margin: 0;
                cursor: pointer;
                &:hover {
                    ~.checkbox {
                        filter: brightness(0.7);
                    }
                }
            }

            input.check-input {
                position: absolute;
                height: 0;
                width: 0;
                visibility: hidden;
            }

            .checkbox {
                position: absolute;
                left: 8%;
                height: 28px;
                width: 28px;
                background-color: $primary-accent-color;
                cursor: pointer;
                &:hover {
                    filter: brightness(0.7);
                    cursor: pointer;
                }
            }

            .checkbox:after {
                content: "";
                position: relative;
                top: 5px;
                left: 9px;
                width: 8px;
                height: 14px;
                border: solid $primary-color;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                display: none;
            }
              
            input:checked ~ .checkbox:after {
                display: block;
            }

            input:checked ~ .checkbox {
                background-color: $text-color;
                border: 1px solid black;
            }

            .num-input {
                color: white;
                margin-left: 14px;
                height: 28px;
                max-width: 80px;
                background-color: $primary-color-accent-light;
                border: none;
                border-bottom: 2px solid $primary-accent-color;
                outline: none;
                text-align: center;
            }

            .num-input:focus {
                border-bottom: 2px solid $text-color;
            }

            .num-input:disabled {
                visibility: hidden;
            }

        }
        
    }
    
    
    
}


@supports (-ms-ime-align: auto) { 

    .stats {
        .info {
            .info-section {
        
    
                .equipped-skill{
    
                    .red {
                        filter: sepia(100%) saturate(1000%) hue-rotate(350deg) brightness(0.8);
                        -webkit-filter: sepia(100%) saturate(1000%) hue-rotate(350deg) brightness(0.8);
                    }
    
                    
                    .green {
                        filter: sepia(100%) saturate(1000%) hue-rotate(45deg) brightness(0.8);
                        -webkit-filter: sepia(100%)  saturate(1000%) hue-rotate(45deg) brightness(0.8);
                    }
    
                    .blue {
                        filter: sepia(100%) saturate(1000%) hue-rotate(120deg) brightness(0.7);
                        -webkit-filter: sepia(100%)  saturate(1000%) hue-rotate(120deg) brightness(0.7);
                    }
                }
            }
        }
    }
 }

@media not screen and (min-width: 130vh) {

    .stats {
        max-height: 100%;
        width: 50vw;
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

@media not screen and (min-width: 768px) { 

    .stats {
        width: 90vw;
        .stats-nav {

            .heading {
                font-size: 10vw;
            }
    
            .character-level, .non-active {
                font-size: 7vw;
            }

        }
    }
    
}