@import '../../../../materialtheme.scss';

:host {
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.edge-box {
    position: relative;
    color: black;
    padding: 0 5px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    .content-container {
        position: relative;
        height: 100%;
        box-sizing: border-box;
    }

    .box-bg {
        position: absolute;
        top: 0;
        left: 0;
        fill: white;
        overflow: visible;
        stroke: transparent;
        stroke-width: 100px;

        &.accent {
            fill: mat-color($BL3CALC-accent, 500);
        }

        &.primary {
            fill: mat-color($BL3CALC-primary, 500);
        }

        &.warn {
            fill: mat-color($BL3CALC-warn, 500);
        }
    }
}
