<div (window:resize)="onResize()" id="navbar" class="flex vertical-align-center">
    <div id="home" routerLink="/home">BL3CALC</div>
    <ul [@openClose]="navState">
        <li routerLink="/build" [queryParams]="{character: 'amara'}">Amara</li>
        <li routerLink="/build" [queryParams]="{character: 'fl4k'}">FL4K</li>
        <li routerLink="/build" [queryParams]="{character: 'moze'}">Moze</li>
        <li routerLink="/build" [queryParams]="{character: 'zane'}">Zane</li>
    </ul>
    <i id="menu" (click) = "toggleMenuIcon()" class="fa fa-bars"></i>

</div>
