<div class="mainContainer">

    <div class=" carouselContainer">
        <div class="carousel">
            <div class="carouselButtons">
                    <button class="prevItem" (click)='previous()'></button>
                    <button class="nextItem" (click)='next()'></button>
            </div>
            
            <ul class="carouselTrack">
                <li class="carouselItem left">
                    <app-skilltree treeName='Mystic Assualt' color='blue' index='0'></app-skilltree>
                </li>
                <li class="carouselItem active">
                    <app-skilltree treeName='Brawl' color='green' index='1'></app-skilltree>
                </li>
                <li class="carouselItem right">
                    <app-skilltree treeName='Fist of the Elements' color='red' index='2'></app-skilltree>
                </li>
            </ul>
        </div>
    </div>

    
</div>







