.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100%;
}

/* Carousel Styles */
.carousel  {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 40vw;
}

.nextItem, 
.prevItem {
    z-index: 3;
    position: relative;
    background: none;
    border: none;
    outline: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 4vh;
    height: 4vh;
    top: 6vh;
}

.nextItem {
    background-image: url('src/assets/images/skilltree/next.png');
    left: 20vh;
}

.prevItem {
    background-image: url('src/assets/images/skilltree/prev.png');
    right: 20vh;
}


/* Contains all of the trees for the carousel */
.carouselTrack {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Contains a single tree for the carousel */
.carouselItem {
    position: absolute;
    z-index: 1;
    list-style: none;
    margin: none;
    transition: .5s;
    opacity: 0.8;

    &.active {
        z-index: 2;
        opacity: 1;

    }

    &.left {
        margin-left: -10vh;
        transform: scale(0.8);
    }

    &.right {
        margin-left: 10vh;
        transform: scale(0.8);
    }
}

@media not screen and (min-width: 130vh) {

    .carousel {
        height: 95vh;
        width: 100%;
    }
}

@media not screen and (min-width: 768px) { 

    .carousel {

        .nextItem, 
        .prevItem { 
            top: 50px;
        }

        .carouselItem { 

            &.left,
            &.right {
                visibility: hidden;
                transition: 0s;
                margin-left: 0px;
                transform: scale(1);
            }
        }
    }
}