//tree css
.skillTreeContainer {
    height: 80vh;
    width: calc(80vh / 2);
    display: inline-block;
}

.tree {

    .topBorder {
        stroke: black;
        stroke-width: 4px;
        fill: none;
        paint-order: stroke fill;
    }

    .middleBorder {
        stroke-width: 3px;
        fill: none;
        paint-order: stroke fill;
    }

    .mainBack {
        stroke: black;
        stroke-width: 1px;
        paint-order: stroke fill;
    }
    
    .mainFront {
        stroke-width: 3px;
        stroke: black;
        paint-order: stroke fill;
    }

    .treeName,
    .points {
        font-family: 'Compacta Bold';
    }


    .treeName {
        font-size: 28px;
        font-style: italic;
    }

    .points {
        text-shadow: 3px 3px 4px black;
        font-size: 18px;
        fill: white;
    }
    

    &.red {

        .middleBorder {
            stroke: rgb(93, 41, 11);
        }

        .mainBack {
            fill: rgb(93, 41, 11);
        }

        .mainFront {
            fill: url(#redFill);
        }

        .treeName {
            fill: rgb(255, 238, 190);
        }

        .skill.activated {
            image {
                filter: url(#activatedRed);
            }
            .points {
                fill: rgb(255, 211, 120);
            }
        }
    }

    &.blue {

        .topBorder {
            stroke: rgb(18, 49, 81);
        }
    
        .middleBorder {
            stroke: rgb(57, 133, 199);
        }
    
        .mainBack {
            fill: rgb(14, 34, 56);
            stroke: rgb(3, 12, 22);
        }
        
        .mainFront {
            fill: url(#blueFill);
        }
    
        .treeName {
            fill: rgb(175, 219, 254);
        }

        .skill.activated {
            image {
                filter: url(#activatedBlue);
            }
            .points {
                fill: cyan;
            }
        }
    }

    &.green {

        .middleBorder {
            stroke: rgb(120, 167, 72);
        }
    
        .mainBack {
            fill: rgb(61, 93, 23);
        }
        
        .mainFront {
            fill: url(#greenFill);
        }
    
        .treeName {
            fill: rgb(246, 221, 155);
        }

        .skill.activated {
            image {
                filter: url(#activatedGreen);
            }
            .points {
                fill: rgb(205, 255, 147);
            }
        }

    }

    .skill.activated:hover {
        filter: none;
    }

    .skill:hover,
    .skill.activated:hover {

        cursor: pointer;

        image {
            filter: url(#highlight);
        }

        .points {
            fill: yellow;
        }
        
    }

}

@media not screen and (min-width: 768px) { 
    .skillTreeContainer {
        width: 75vw;
        height: auto;
    }
}