
<div class="skillTreeContainer">

    <svg height="100%" width="100%" viewBox="0 0 300 696" class="tree">
        <linearGradient *ngIf="color == 'blue'" id="blueFill" x1="0" x2="0" y1="0" y2="1">
            <stop offset="15.5%" stop-color="rgb(34, 92, 137)"/>
            <stop offset="17.5%" stop-color="rgb(132, 164, 189)"/>
            <stop offset="0%" stop-color="rgb(9, 22, 35)"/>
        </linearGradient>
        <linearGradient *ngIf="color == 'green'" id="greenFill" x1="0" x2="0" y1="0" y2="1">
            <stop offset="15.5%" stop-color="rgb(61, 97, 28)"/>
            <stop offset="17.5%" stop-color="rgb(145, 166, 127)"/>
            <stop offset="0%" stop-color="rgb(24, 38, 10)"/>
        </linearGradient>
        <linearGradient *ngIf="color == 'red'" id="redFill" x1="0" x2="0" y1="0" y2="1">
            <stop offset="15.5%" stop-color="rgb(88, 47, 27)"/>
            <stop offset="17.5%" stop-color="rgb(161, 138, 126)"/>
            <stop offset="0%" stop-color="rgb(36, 16, 5)"/>
        </linearGradient>

        
        <g transform="scale(.85) translate(27, 53)">
            <polygon  points="2,18 17,2 52,2 67,18
                            232,18 248,2 283,2 298,18 
                            298,674 280,694 
                            20,694 2,674" class="topBorder"></polygon>
            <polygon points="2,18 17,2 52,2 67,18
                            232,18 248,2 283,2 298,18 
                            298,674 280,694 
                            20,694 2,674" class="middleBorder"></polygon>
            <polygon points="2,18 17,2 52,2 67,18
                            232,18 248,2 283,2 298,18 
                            298,674 280,694 
                            20,694 2,674" class="mainBack"></polygon>
            <polygon points="12,56 17,50 42,50 50,58 
                            250,58 258,50 283,50 288,56 
                            288,630 273,645 
                            27, 645, 12,630" class="mainFront"></polygon>
            <image width="110%" x="-5%" y="-10%"attr.href="{{header}}" ></image>
            <text class="treeName doNotSelect" x="50%" y="96.5%" dominant-baseline="middle" text-anchor="middle">{{treeName}}</text>
        </g>

        <filter id="highlight">
                <feGaussianBlur stdDeviation="3" result="blurred" />
                <feFlood flood-color="yellow" result="glowColor" />
                <feComposite in="glowColor" in2="blurred" operator="in" result="glow" />
                <feMerge>
                    <feMergeNode in="glow"/>
                    <feMergeNode in="SourceGraphic"/>
                </feMerge>
                <feColorMatrix type="matrix"
                result="highlight"
                values="1 0 0 0 0
                        0 1 0 0 0
                        0 0 0 0 0
                        0 0 0 1 0" />
        </filter>
        <filter *ngIf="color == 'blue'" id="activatedBlue">
                <feColorMatrix type="matrix"
                values="0 0 0 0 0
                        0 1 0 0 0
                        0 0 1 0 0
                        0 0 0 1 0" />
                <feComponentTransfer>
                    <feFuncR type="linear" slope="2"/>
                    <feFuncG type="linear" slope="2"/>
                    <feFuncB type="linear" slope="2"/>
                </feComponentTransfer>
        </filter>
        <filter *ngIf="color == 'red'" id="activatedRed">
                <feColorMatrix type="matrix"
                values="0.99 0 0 0 0
                        0 0.58 0 0 0
                        0 0 0.17 0 0
                        0 0 0 1 0" />
                <feComponentTransfer>
                    <feFuncR type="linear" slope="2"/>
                    <feFuncG type="linear" slope="2"/>
                    <feFuncB type="linear" slope="2"/>
                </feComponentTransfer>
        </filter>
        <filter *ngIf="color == 'green'" id="activatedGreen">
                <feColorMatrix type="matrix"
                values="0.42 0 0 0 0
                        0 0.77 0 0 0
                        0 0 0.06 0 0
                        0 0 0 1 0" />
                <feComponentTransfer>
                    <feFuncR type="linear" slope="2"/>
                    <feFuncG type="linear" slope="2"/>
                    <feFuncB type="linear" slope="2"/>
                </feComponentTransfer>
        </filter>
        <filter id="skillDisabled">
            <feColorMatrix type="matrix"
            values="0.5 0 0 0 0
                    0 0.5 0 0 0
                    0 0 0.5 0 0
                    0 0 0 1 0" />
        </filter>
        
       
        <g transform="scale(0.85) translate(27 51)">
            <g [class.activated]="skill.getAllocated() > skill.MIN_POINTS"
                [class.disabled]="allocatedPoints < skill.getPreReq()" 
                class="skill doNotSelect" *ngFor="let skill of skills" 
                (click)="addPoint(skill)" (contextmenu)="removePoint(skill)" oncontextmenu="return false;">

                <g *ngIf="skill.getPosition()[1] == -1" attr.transform="scale(0.85) translate(0, {{90 + skill.getPosition()[0] * 116}})">
                    <polygon
                        class="rightSkillBorder"
                        points="-67,12 -55,0 3,0 2,91 -55,91 -67,79"
                    />
                    <polygon
                        class="rightSkillMidBorder"
                        points="-67,12 -55,0 3,0 2,91 -55,91 -67,79"
                    />
                    <polygon
                        class="rightSkillMain"
                        points="-67,12 -55,0 3,0 2,91 -55,91 -67,79"
                    />
                </g>

                <g *ngIf="skill.getPosition()[1] == 3" attr.transform="scale(0.85) translate(50, {{90 + skill.getPosition()[0] * 116}})">
                    <polygon
                        class="rightSkillBorder"
                        points="370,12 358,0 300,0 300,91 358,91 370,79"
                    />
                    <polygon
                        class="rightSkillMidBorder"
                        points="370,12 358,0 300,0 300,91 358,91 370,79"
                    />
                    <polygon
                        class="rightSkillMain"
                        points="370,12 358,0 300,0 300,91 358,91 370,79"
                    />
                </g>

                
                <image  attr.height="{{skill.getOtherSkillType() == 2 
                                    || skill.getOtherSkillType() == 0 ? 9.5 : 10.5}}%" 
                        attr.x="{{skill.getPosition()[1] < 0 ? 
                            -18 :
                            (skill.getPosition()[1] < 3 ? 
                            11.25 + (skill.getPosition()[1] * 27) :
                            94)}}%" 
                        attr.y="{{skill.getOtherSkillType() == 2 ? 
                            12.5 + (skill.getPosition()[0] * 14.1) :
                            11.5 + (skill.getPosition()[0] * 14.1)}}%" 
                        attr.href="{{skill.getSkillBoxPath()}}" />

                <image attr.height="{{skill.getOtherSkillType() == 0 ? 6.5 : 7}}%" 
                       attr.x="{{skill.getPosition()[1] < 0 ? 
                                -14:
                                (skill.getPosition()[1] < 3 ? 
                                15.25 + (skill.getPosition()[1] * 27) :
                                97.5)}}%"
                        attr.y="{{skill.getOtherSkillType() == 0 ? 
                            13 + (skill.getPosition()[0] * 14.1) :
                            13 + (skill.getPosition()[0] * 14.2)}}%"
                       attr.href="{{skill.path}}" />


                       
                <g *ngIf="skill.getOtherSkillType() == 0">
                    <image height="3.5%" 
                           attr.x="{{25 + (skill.getPosition()[1] * 27)}}%" 
                           attr.y="{{19 + (skill.getPosition()[0] * 14.1)}}%" 
                           href="assets/images/skilltree/pointBox.png" />
                    <text class="points" 
                          attr.x="{{30.5 + (skill.getPosition()[1] * 27)}}%"
                          attr.y="{{21.6 + (skill.getPosition()[0] * 14.1)}}%"
                          text-anchor="middle">{{skill.allocatedPoints}}/{{skill.maxPoints}}</text>
                </g>
    

                <g>

                </g>
                
            </g>
        </g>
        
    </svg>
</div>
