
//tree css
.skillTreeContainer {
    height: 90vh;
    width: 30vw;
    display: inline-block;
}

.tree {
    
    overflow: visible;

    .topBorder,
    .leftSkillBorder,
    .rightSkillBorder {
        stroke: black;
        stroke-width: 4px;
        fill: none;
        paint-order: stroke fill;
    }

    .middleBorder,
    .leftSkillMidBorder,
    .rightSkillMidBorder {
        stroke-width: 3px;
        fill: none;
        paint-order: stroke fill;
    }

    .mainBack,
    .leftSkillMain,
    .rightSkillMain {
        stroke: black;
        stroke-width: 1px;
        paint-order: stroke fill;
    }

    .rightSkillBorder,
    .leftSkillBorder {
        stroke-dasharray: 68,92,80,0;
    }
    
    .rightSkillMain, 
    .rightSkillMidBorder,
    .leftSkillMain, 
    .leftSkillMidBorder {
        stroke-dasharray: 72,87,80,0;
    }
    
    
    .mainFront {
        stroke-width: 3px;
        stroke: black;
        paint-order: stroke fill;
    }

    .treeName,
    .points {
        font-family: 'Compacta Bold';
    }


    .treeName {
        font-size: 28px;
        font-style: italic;
    }

    .points {
        text-shadow: 3px 3px 4px black;
        font-size: 18px;
        fill: white;
    }
    

    &.red {
        
        .rightSkillMidBorder,
        .leftSkillMidBorder,
        .middleBorder {
            stroke: rgb(195, 121, 71);
        }

        .rightSkillMain,
        .leftSkillMain,
        .mainBack {
            fill: rgb(93, 41, 11);
        }

        .mainFront {
            fill: url(#redFill);
        }

        .treeName {
            fill: rgb(255, 238, 190);
        }

        .skill.activated {
            image {
                filter: url(#activatedRed);
            }
            .points {
                fill: rgb(255, 211, 120);
            }
        }
    }

    &.blue {

        .rightSkillBorder,
        .leftSkillBorder,
        .topBorder {
            stroke: rgb(18, 49, 81);
        }

        .rightSkillMidBorder,
        .leftSkillMidBorder,
        .middleBorder {
            stroke: rgb(57, 133, 199);
        }

        .rightSkillMain,
        .leftSkillMain,
        .mainBack {
            fill: rgb(14, 34, 56);
            stroke: rgb(3, 12, 22);
        }
        
        .mainFront {
            fill: url(#blueFill);
        }
    
        .treeName {
            fill: rgb(175, 219, 254);
        }

        .skill.activated {
            image {
                filter: url(#activatedBlue);
            }
            .points {
                fill: cyan;
            }
        }
    }

    &.green {

        .rightSkillMidBorder,
        .leftSkillMidBorder,
        .middleBorder {
            stroke: rgb(149, 203, 94);
        }
    
        .rightSkillMain,
        .leftSkillMain,
        .mainBack {
            fill: rgb(61, 93, 23);
        }
        
        .mainFront {
            fill: url(#greenFill);
        }
    
        .treeName {
            fill: rgb(246, 221, 155);
        }

        .skill.activated {
            image {
                filter: url(#activatedGreen);
            }
            .points {
                fill: rgb(205, 255, 147);
            }
        }

    }

    .disabled {

        image, text {
            filter: url(#skillDisabled);
        }
        
    }
    
    .skill.activated:hover,
    .skill.disabled:hover {
        filter: none;
    }

    .skill:hover,
    .skill.activated:hover {

        cursor: pointer;

        image {
            filter: url(#highlight);
        }

        .points {
            fill: yellow;
        }
        
    }

}

@media not screen and (min-width: 130vh) { 
    .skillTreeContainer {
        height: 95vh;
        width: 95vw;
    }
}

@media not screen and (min-width: 768px) { 
    .skillTreeContainer {
        width: 95vw;
    }
}