
<div class="skillTreeContainer">

    <svg height="100%" width="100%" viewBox="0 0 300 600" class="tree">
        <linearGradient id="blueFill" x1="0" x2="0" y1="0" y2="1">
            <stop offset="15.5%" stop-color="rgb(34, 92, 137)"/>
            <stop offset="17.5%" stop-color="rgb(132, 164, 189)"/>
            <stop offset="0%" stop-color="rgb(9, 22, 35)"/>
        </linearGradient>
        <linearGradient id="greenFill" x1="0" x2="0" y1="0" y2="1">
            <stop offset="15.5%" stop-color="rgb(61, 97, 28)"/>
            <stop offset="17.5%" stop-color="rgb(145, 166, 127)"/>
            <stop offset="0%" stop-color="rgb(24, 38, 10)"/>
        </linearGradient>
        <linearGradient id="redFill" x1="0" x2="0" y1="0" y2="1">
            <stop offset="15.5%" stop-color="rgb(88, 47, 27)"/>
            <stop offset="17.5%" stop-color="rgb(161, 138, 126)"/>
            <stop offset="0%" stop-color="rgb(36, 16, 5)"/>
        </linearGradient>
        <polygon points="2,18 17,2 52,2 67,18
                            232,18 248,2 283,2 298,18 
                            298,578 280,598 
                            20,598 2,578" class="topBorder"></polygon>
        <polygon points="2,18 17,2 52,2 67,18
                            232,18 248,2 283,2 298,18 
                            298,578 280,598 
                            20,598 2,578" class="middleBorder"></polygon>
        <polygon points="2,18 17,2 52,2 67,18
                            232,18 248,2 283,2 298,18 
                            298,578 280,598 
                            20,598 2,578" class="mainBack"></polygon>
        <polygon points="12,56 17,50 42,50 50,58 
                            250,58 258,50 283,50 288,56 
                            288,535 273,550 
                            27,550 12,535" class="mainFront"></polygon>
        <text x="50%" y="96.5%" dominant-baseline="middle" text-anchor="middle">{{treeName}}</text>
    </svg>
</div>
