@import "../../../styles.scss";

section {
    background-color: mat-color($BL3CALC-primary, 500);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
    }
}