<div class="loader-wrapper">
    <app-edge-box [theme]="theme" class="bar" minEdge="4" noPadding="true" [color]="color"></app-edge-box>
    <app-edge-box [theme]="theme" class="bar" minEdge="4" noPadding="true" [color]="color"></app-edge-box>
    <app-edge-box [theme]="theme" class="bar" minEdge="4" noPadding="true" [color]="color"></app-edge-box>
    <app-edge-box [theme]="theme" class="bar" minEdge="4" noPadding="true" [color]="color"></app-edge-box>
    <app-edge-box [theme]="theme" class="bar" minEdge="4" noPadding="true" [color]="color"></app-edge-box>
</div>
