/* You can add global styles to this file, and also import other style files */
body, html {
    position: relative;
    min-height: calc(100vh - 90px);
    margin: 0;
    padding-bottom: 25px;
}

body {
    background-image: url('https://i.imgur.com/75bmNBL.jpg');
    background-size: cover;
    background-position: center;
}