@font-face {
    font-family: 'Compacta Bold';
    src: url('src/assets/fonts/Compacta Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Teko';
    src: url('src/assets/fonts/Teko-Medium.ttf') format("truetype");
}

$primary-color: rgb(38, 38, 38);
$primary-accent-color: rgb(28, 28, 28);
$primary-color-accent-light: rgb(46, 46, 46);

$secondary-color: rgb(22, 22, 22);
$text-color: rgb(255,215,0);

@mixin borderlands-text {
    font-family: 'Compacta Bold';
    color: $text-color;
    text-shadow: (2px 0 0 black, 
                 -2px 0 0 black, 
                  0 2px 0 black,
                  0 -2px 0 black, 
                  1px 1px black, 
                 -1px -1px 0 black, 
                  1px -1px 0 black,
                 -1px 1px 0 black);
}

body, html {
    position: relative;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: radial-gradient(rgb(16, 65, 114), $secondary-color);
}

.doNotSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

.flex {
    display: flex;
}

.wrapped {
    flex-wrap: wrap;
}

.inline-flex {
    display: inline-flex;
}

.vertical-align-center {
    align-items: center;
}

.vertical-align-start {
    align-items: flex-start;
}

.horizontal-align-between {
    justify-content: space-between;
}

.horizontal-align-around {
    justify-content: space-around;
}

.horizontal-align-start {
    justify-content: flex-start;
}

.horizontal-align-center {
    justify-content: center;
}

.horizontal-align-evenly {
    justify-content: space-evenly;
}


/* Container that holds the elements for each page */
.mainContainer {
    min-height: calc(100vh - 60px);

    padding-top: 25px;
    padding-bottom: 25px;
}



