
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$BL3CALC-primary: mat-palette($mat-indigo);
$BL3CALC-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$BL3CALC-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$BL3CALC-theme: mat-light-theme((
  color: (
    primary: $BL3CALC-primary,
    accent: $BL3CALC-accent,
    warn: $BL3CALC-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($BL3CALC-theme);

@font-face {
    font-family: 'Compacta Bold';
    src: url('./assets/fonts/Compacta\ Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Teko';
    src: url('./assets/fonts/Teko-Medium.ttf') format("truetype");
}

$primary-color: rgb(49, 49, 49);
$primary-accent-color: rgb(39, 39, 39);
$primary-color-accent-light: rgb(58, 58, 58);

$secondary-color: rgb(39, 39, 39);
$text-color: rgb(255,215,0);

@mixin borderlands-text {
    font-family: 'Compacta Bold';
    color: $text-color;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}


html {
    overflow-x: hidden;
}

body, html {
    margin: 0;
    height: 100%;
}

.blue-background {
    background-image: radial-gradient(#104172,#161616) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.doNotSelect {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.wrapped {
    flex-wrap: wrap;
}

.inline-flex {
    display: inline-flex;
}

.vertical-align-center {
    align-items: center;
}

.vertical-align-start {
    align-items: flex-start;
}

.horizontal-align-between {
    justify-content: space-between;
}

.horizontal-align-around {
    justify-content: space-around;
}

.horizontal-align-start {
    justify-content: flex-start;
}

.horizontal-align-center {
    justify-content: center;
}

.horizontal-align-evenly {
    justify-content: space-evenly;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
