@import "../../styles.scss";

#tooltip {
    position: absolute;
    z-index: 4;
    height: auto;
}

.skill-effects-container {
    font-family: Verdana;
    color: white;
    background: $primary-color;
    border-radius: 3px;
    font-size: 11px;
    width: 30vw;

    .skill-effects-name {
        font-family: 'Teko';
        font-size: 18px;
        height: 25px;
        width: 95%;
        margin: 0;
        padding: 0 2.5%;
        background-color: $primary-accent-color;
        border-radius: 3px 3px 0 0;
    }

    .skill-effects-content {
        width: 95%;
        margin: auto;
        padding: 0.75em 0;
    }

    .skill-effects-effect {
        margin-bottom: 0;

        .name {
            color: yellow;
        }
    }
}

@media not screen and (min-width: 768px) { 
    .skill-effects-container {
        width: 60vw; 
    }
}