<div #toolTip id="tooltip" >
    <div *ngIf="skill != null" class="skill-effects-container">
        <p class="skill-effects-name">{{skill.getSkillEffects().name}}&nbsp;&nbsp;&nbsp;
            <span *ngIf="isNormalSkill(skill)">{{skill.getAllocatedPoints()}}/{{skill.getMaxPoints()}}</span></p>
        <p class="skill-effects-content" [innerHTML]="skill.getSkillEffects().description"></p>
        <div class="skill-effects-content" *ngIf="skill.getAllocatedPoints() > 0">
            <div *ngFor="let effect of skill.getSkillEffects().effects; let i = index" [hidden]="effect.hidden">
                <p class="skill-effects-effect"  *ngIf="i == 0">Current Effect: </p>
                <p *ngIf="effect.names != null" class="skill-effects-effect name"><span class="name">{{effect.names[skill.getAllocatedPoints() - 1]}}</span> 
                    <p *ngIf="effect.name != null" class="skill-effects-effect name"><span class="name">{{effect.name}}</span>
                    <span *ngIf="effect.value != null">: {{effect.value}}</span>
                    <span *ngIf="effect.values != null">: {{effect.values[skill.getAllocatedPoints() - 1]}}</span>
                </p>
            </div>
        </div>
        <div class="skill-effects-content"  *ngIf="skill.getAllocatedPoints() < skill.getMaxPoints() && (isNormalSkill(skill) || skill.getAllocatedPoints() < 1)">
            <div *ngFor="let effect of skill.getSkillEffects().effects; let i = index" [hidden]="effect.hidden">
                <p class="skill-effects-effect" *ngIf="i == 0">Next Rank: </p>
                <p *ngIf="effect.names != null" class="skill-effects-effect name"><span class="name">{{effect.names[skill.getAllocatedPoints()]}}</span> 
                <p *ngIf="effect.name != null" class="skill-effects-effect name"><span class="name">{{effect.name}}</span> 
                    <span *ngIf="effect.value != null">: {{effect.value}}</span>
                    <span *ngIf="effect.values != null">: {{effect.values[skill.getAllocatedPoints()]}}</span>
                </p>
            </div>
        </div>
    </div>
</div>