@import "../../styles.scss";

#home-container {
    height: calc(100% - 60px);
    min-height: auto;

    .page-heading {
        @include borderlands-text;
        font-size: 60px;
        text-align: center;
        margin: 1em 0;
    }
    
    #character-select {
        width: 100%;
        padding: 0;
        margin: 0;
    
        .character {
            position: relative;
            padding: 0;
            padding-bottom: 30%;
            margin-bottom: 2em;
            min-width: 300px;
            width: 25%;
            height: 0;
            overflow: hidden;

            .character-svg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                height: 95%;
                width: 80%;
                margin: auto;
                outline: none;
                overflow: hidden;
                transition: all 0.15s;
                
                polygon:nth-child(1) {
                    fill: rgba($primary-color, 0.3); 
                    stroke: transparent;
                    paint-order: stroke fill;
                }
            
                polygon:nth-child(2) {
                    fill: rgba($primary-accent-color, 0.5);
                    stroke: transparent;
                    paint-order: stroke fill;
                }
            
                polygon:nth-child(4) {
                    fill: transparent;
                    stroke: black;
                    paint-order: stroke fill;
                }
        
                &:hover {
                    transform: scale(1.05) translate(-47.62%, -47.62%);
                    cursor: pointer;
                }
        
                text {
                    @include borderlands-text;
                    fill: $text-color;
                    font-size: 50px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1216px) {
    #home-container {
        height: auto;
        min-height: calc(100% - 60px);

        #character-select {
            .character {
                padding-bottom: 45%;
            }
        }
    }
}

@media only screen and (max-width: 899px) {
    #home-container {
        
        #character-select {
            .character {
                padding-bottom: 50%;
            }
        }
    }
}

@media only screen and (max-width: 599px) {
    #home-container {
        
        #character-select {
            .character {
                padding-bottom: 75%;
            }
        }
    }
}


