<div class="container-fluid mainContainer">
    <div class="row align-items-center">

        <div class="character col-lg">
            <svg height="60%" width="60%" viewBox="0 0 200 400" routerLink="/amara">
                <polygon points="0,400 180,400 200,380 200,0 20,0 0,20" style="fill: hsla(0, 0%, 0%, 0.6); stroke: black"></polygon>
                <polygon points="0,400 0,320  200,320  200,380 180,400" style="fill: black;"></polygon>
                <image width="300px" x="-70px"y="35" href="assets/images/amara/amara_character.png"></image>
                <text x="55" y="375">Amara</text>
            </svg>
        </div>
        <div class="character col-lg">
            <svg height="60%" width="60%" viewBox="0 0 200 400">
                <polygon points="0,400 180,400 200,380 200,0 20,0 0,20" style="fill: hsla(0, 0%, 0%, 0.6); stroke: black"></polygon>
                <polygon points="0,400 0,320  200,320  200,380 180,400" style="fill: black;"></polygon>
                <image width="350px" y="23" x="-70" href="assets/images/fl4k/fl4k_character.png"></image>
                <text x="70" y="375">FL4K</text>
            </svg>
        </div>
        <div class="character col-lg">
            <svg height="60%" width="60%" viewBox="0 0 200 400">
                <polygon points="0,400 180,400 200,380 200,0 20,0 0,20" style="fill: hsla(0, 0%, 0%, 0.6); stroke: black"></polygon>
                <polygon points="0,400 0,320  200,320  200,380 180,400" style="fill: black;"></polygon>
                <image width="300px" y="17" href="assets/images/moze/moze_character.png"></image>
                <text x="60" y="375">Moze</text>
            </svg>
        </div>
        <div class="character col-lg">
            <svg height="60%" width="60%" viewBox="0 0 200 400">
                <polygon points="0,400 180,400 200,380 200,0 20,0 0,20" style="fill: hsla(0, 0%, 0%, 0.6); stroke: black"></polygon>
                <polygon points="0,400 0,320  200,320  200,380 180,400" style="fill: black;"></polygon>
                <image width="350px" y="45" href="assets/images/zane/zane_character.png"></image>
                <text x="65" y="375">Zane</text>
            </svg>
        </div>
        
    </div>
</div>
